<!doctype html>
<html>
<head>
  <title>古琴中国</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to 'Log in', new_user_session_path, method: :get %>
  <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
  <% if admin_signed_in?%>
    <%= link_to 'admin', "/admin" %>
  <% end%>
  <h1>古琴中国</h1>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</body>
</html>
